[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = false

[browser]
gatherUsageStats = false

[theme]
primaryColor = "#b08968"
backgroundColor = "#fdfbf7"
secondaryBackgroundColor = "#ffffff"
textColor = "#4a403a"
font = "sans serif"

